@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #f5f5f5;
  line-height: 1.8;
  color: #333;
  font-size: 14px;
  font-family: "游ゴシック体", Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.f-lg {
  font-size: 1.3rem;
}

.f-minc {
  font-family: "凸版文久見出し明朝";
}

.ls50 {
  letter-spacing: .05rem;
}

.mt50 {
  margin-top: 50px;
}

.purple {
  color: #e139ff;
}

.redpink {
  color: #ff2176;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.ly_heading {
  background-color: #ffe0e0;
  padding: 12px 10px;
  margin-bottom: 30px;
}

.el_heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.bl_content_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  height: auto;
}

.el_content_img_text {
  position: absolute;
  bottom: -18px;
  right: -170px;
  color: #fff;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.ly_content-text {
  margin-top: 30px;
}

.el_content-text {
  font-weight: bold;
  letter-spacing: .05rem;
  margin-bottom: 0;
}

.bl_cta {
  margin: 40px 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#b534a7), to(#ff2176));
  background-image: linear-gradient(to right, #b534a7 0%, #ff2176 100%);
}

.el_cta-text {
  text-align: center;
  color: #fff;
}

.ly_btn {
  margin: 20px 0;
}

.bl_btn {
  display: block;
  background-color: #18d000;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 23px 0;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #18d000;
  letter-spacing: .05rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.bl_btn:hover {
  background-color: #fff;
  border: 2px solid #18d000;
  color: #18d000;
  -webkit-transition: .3s;
  transition: .3s;
}

.global-container {
  max-width: 480pc;
  margin: 0 auto;
}

.ly_header_text {
  background-image: -webkit-gradient(linear, left top, right top, from(#b534a7), to(#ff2176));
  background-image: linear-gradient(to right, #b534a7 0%, #ff2176 100%);
  padding: 5px 35px;
}

.el_header_text {
  color: #fff;
  text-align: center;
}

.bl_header_content {
  position: relative;
}

.el_header_content-text1, .el_header_content-text2 {
  color: #ff2176;
  font-weight: bold;
  -webkit-text-stroke: 1px #811170;
}

.el_header_content-text1 {
  padding: 0 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(180deg, transparent 0%, transparent 60%, #fff 50%, #fff 100%);
  font-size: 1.5rem;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 200;
}

.el_header_content-text2 {
  padding-left: 10px;
  font-size: 1.2rem;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(180deg, transparent 0%, transparent 60%, #fff 50%, #fff 100%);
  bottom: 10px;
  right: 12px;
}

.el_header_content-text2::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -15px;
  background-color: #fff;
  height: 12px;
  width: 15px;
}

.bl_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.el_date_icon {
  width: 14px;
  fill: #707070;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_date_text {
  color: #707070;
  margin: 0;
  padding: 10px 0 10px 10px;
}

.ly_main-title {
  margin-top: 30px;
  background-color: #ffe0e0;
  padding: 20px 0;
}

.el_main-title-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.ly_content-text-worries {
  padding: 30px 0px 35px 0px;
  background-color: #e9ffdb;
  border: 2px solid #FF1C1C;
  border-radius: 10px;
}

.ly_content-text-points {
  padding: 30px 0px;
  background-color: #FFFBD9;
  border: 2px solid #FF1C1C;
  border-radius: 10px;
}

.el_content-text-ul {
  margin-bottom: 0;
  list-style: disc;
}

.el_content-text-ul-howto {
  margin-bottom: 0;
  list-style: decimal;
}

.bl_hotel_content {
  margin-top: 20px;
  position: relative;
}

.ly_hotel-text {
  margin-top: 15px;
  margin-bottom: 60px;
}

.el_hotel_text {
  position: absolute;
  bottom: -15px;
  right: 10px;
  color: #fff;
}

.content-third {
  margin-top: 60px;
}

.ly_content-text-advice {
  position: relative;
  background-color: #e9ffdb;
  border: 2px solid #ffbf2f;
  border-radius: 10px;
  padding: 34px 15px 30px;
}

.content-text-label {
  position: absolute;
  top: -14px;
  left: 10px;
  background-color: #F52FA9;
  color: #fff;
  padding: 2px 15px;
  border-radius: 20px;
}

.bl_app {
  margin-top: 60px;
  margin-bottom: 100px;
}

.bl_app-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#b534a7), to(#ff2176));
  background-image: linear-gradient(to right, #b534a7 0%, #ff2176 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 7px;
}

.el_app-num {
  background-color: #fff;
  width: 20px;
  height: 20px;
  padding: 0px 0 0px 6px;
  border-radius: 50%;
  color: #811170;
  margin-right: 8px;
  margin-bottom: 0;
}

.el_app-heading {
  color: #fff;
}

.bl_app-item {
  padding: 20px 5px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5;
}

.bl_app-img {
  margin-right: 8px;
  width: 70px;
  height: 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.bl_app-info {
  margin-left: 8px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.bl_app-desc {
  margin-top: 40px;
  padding: 15px 17px;
  background-color: #ffe0e0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.bl_app-desc-ul {
  font-weight: bold;
  margin-top: 20px;
  padding-left: 0;
}

.el_app-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_app-tag {
  color: #00a7ff;
}

.el_app-star {
  color: #ffbf2f;
}

.el_app-title {
  margin-bottom: 0;
}

.el_app-desc-heading {
  font-weight: bold;
  text-align: center;
  color: #FF0000;
  padding: 11px 0;
  border-top: 2px solid #FF0000;
  border-bottom: 2px solid #FF0000;
}

.ly_app-register {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */